
<div id="footer" class="row section-wrap">
  <div class="footer-wrapper">
    <div class="columns medium-4">
      <hr/>
      <div class="quick-link">Quick Link :
        <ul>
          <li><a href="#aboutUs">About Us</a></li>
          <li><a href="#ourProducts">Our Products</a></li>
          <ul>
            <li><a href="#clothes">Clothes</a></li>
            <li><a href="#foods">Foods</a></li>
            <li><a href="#others">Others</a></li>
          </ul>
          <li><a href="#contactUs">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div class="columns medium-4">
      <hr/>
      <div class="contact-info">
        <p>Contact Us :<br/>SMS @ WhatsApp<br/>Bro Syahmi : <a href="tel:0133885165">013 388 5165</a></p>
      </div>
    </div>
    <div class="columns medium-4">
      <hr/>
      <div class="social-medias">Keep in touch :
        <ul>
          <li title="Facebook" class="fb"><a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank">fb</a></li>
          <li title="Twitter" class="tt"><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">tt</a></li>
          <li title="Instagram" class="ig"><a href="https://www.instagram.com/{{ site.instagram_username }}" target="_blank">ig</a></li>
        </ul>
      </div>
      <div class="dev">Made with <span>&hearts; </span>by : <span><a href="http://www.syahmifauzi.com/" target="_blank">Syahmi Fauzi</a></span></div>
    </div>
    <div class="columns medium-12">
      <hr/>
      <div class="copy">Copyright &copy; 2016 - ENTREC CFSIIUM - All Rights Reserved</div>
    </div>
  </div>
</div>