
<div id="entrec-header" class="row section-wrap">
  <div class="header-wrapper">
    <div class="header-wrapper-left">
      <div class="entrec-logo">ENTREC</div>
    </div>
    <div class="header-wrapper-right">
      <div class="wrapper-desc-socmed">
        <div class="header-description">
          <p><span class="f1-line">&quot;Meniaga Itu Satu Sunnah,</span><span class="s2-line">Jadilah Saudagar Tuhan,</span><span class="t3-line">Kaya Dunia Kaya Akhirat.&quot;</span></p>
        </div>
        <div class="social-medias">
          <ul>
            <li title="Facebook" class="fb"><a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank">fb</a></li>
            <li title="Twitter" class="tt"><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">tt</a></li>
            <li title="Instagram" class="ig"><a href="https://www.instagram.com/{{ site.instagram_username }}" target="_blank">ig</a></li>
          </ul>
        </div>
      </div>
      <div class="header-title">
        <h1>Entrec</h1>
        <h2>CFSIIUM</h2>
      </div>
      <div class="outer-nav">
        <div id="site-nav" class="header-navigation initial-state">
          <hr/>
          <ul>
            <li><a href="#aboutUs">About Us</a></li>
            <li><a href="#ourProducts">Our Products</a></li>
            <li><a href="#contactUs">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="down-arrow"><a href="#aboutUs"><span></span></a></div>
  <hr class="header-hr"/>
</div>