// All Variables
$primary-font-family: "Source Sans Pro","Helvetica",sans-serif;
$secondary-font-family: "Amatic SC","Helvetica",sans-serif;

$primary-font-color: #333;

$bg-color: #f1f1f1;

$box-bg-color: #fefefe;

$link-color-unhover: #333;
$link-color-hover: #fff;


// Breakpoints
$medium-breakpoint-width: 800px;
$small-breakpoint-width: 600px; // 601px in foundation bp setting

$small-breakpoint-height: 500px;
$x-small-breakpoint-width: 298px;
