.row.section-wrap#aboutUs
  .aboutUs-wrapper
    .inner-wrapper
      .aboutUs-inner-1
        .columns.medium-5.aboutUs-wrapper-first
          h1 What is 
            span ENTREC?
        .column.medium-7.aboutUs-wrapper-second
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus unde quasi mollitia porro, repellat deleniti quo fuga expedita ab illum iusto quam, nam assumenda vero eaque nihil libero eos accusamus!
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quam voluptatem voluptatum doloremque nesciunt architecto.
    .inner-wrapper
      .aboutUs-inner-2
        .column.medium-7.aboutUs-wrapper-second
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus unde quasi mollitia porro, repellat deleniti quo fuga expedita ab illum iusto quam, nam assumenda vero eaque nihil libero eos accusamus!
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quam voluptatem voluptatum doloremque nesciunt architecto.
        .columns.medium-5.aboutUs-wrapper-first
          h1 What ENTREC do?
    .inner-wrapper
      .aboutUs-inner-3
        .columns.medium-5.aboutUs-wrapper-first
          h1 Why you should buy our products?
        .column.medium-7.aboutUs-wrapper-second
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus unde quasi mollitia porro, repellat deleniti quo fuga expedita ab illum iusto quam, nam assumenda vero eaque nihil libero eos accusamus!
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quam voluptatem voluptatum doloremque nesciunt architecto.
