.row.section-wrap#contactUs
  .contactUs-wrapper
    h1 Contact Us
    .contact-info
      p
        | To order,
        span Please contact :
        | {% for contact in site.data.homepage.contact %} 
        span
          | {{ contact.name }} : 
          a(href="tel:{{ contact.number }}") {{ contact.number }} 
          | (SMS @ WhatsApp)
        | {% endfor %}
        br
        span And he will direct you...
          
  
