.row.section-wrap#footer
  .footer-wrapper
    .columns.medium-4
      hr
      .quick-link
        | Quick Link :
        ul
          li: a(href="#aboutUs") About Us
          li: a(href="#ourProducts") Our Products
          ul
            li: a(href="#clothes") Clothes
            li: a(href="#foods") Foods
            li: a(href="#others") Others
          li: a(href="#contactUs") Contact Us
        
    .columns.medium-4
      hr
      .contact-info
        p Contact Us :
          br
          | SMS @ WhatsApp
          br
          | {% for contact in site.data.homepage.contact %}
          | {{ contact.name }} : 
          a(href="tel:{{ contact.number }}") {{ contact.number }}
          | {% endfor %}
  
    .columns.medium-4
      hr
      .social-medias
        | Keep in touch :
        ul
          li.fb(title="Facebook"): a(href="https://www.facebook.com/{{ site.facebook_username }}", target="_blank") fb
          li.tt(title="Twitter"): a(href="https://twitter.com/{{ site.twitter_username }}", target="_blank") tt
          li.ig(title="Instagram"): a(href="https://www.instagram.com/{{ site.instagram_username }}", target="_blank") ig
      .dev
        | Made with 
        span &hearts; 
        | by : 
        span: a(href="http://www.syahmifauzi.com/", target="_blank") Syahmi Fauzi
      
    .columns.medium-12
      hr
      .copy
        | Copyright &copy; 2016 - ENTREC CFSIIUM - All Rights Reserved
