.row.section-wrap#entrec-header
  .header-wrapper
    .header-wrapper-left
      .entrec-logo ENTREC
    .header-wrapper-right
      .wrapper-desc-socmed
        .header-description
          p
            span.f1-line &quot;Meniaga Itu Satu Sunnah,
            span.s2-line Jadilah Saudagar Tuhan,
            span.t3-line Kaya Dunia Kaya Akhirat.&quot;
        .social-medias
          ul
            li.fb(title="Facebook"): a(href="https://www.facebook.com/entrec.iium", target="_blank") fb
            li.tt(title="Twitter"): a(href="#", target="_blank") tt
            li.ig(title="Instagram"): a(href="https://www.instagram.com/entrec.club", target="_blank") ig
      .header-title
        h1 Entrec
        h2 CFSIIUM
      .outer-nav
        .header-navigation#site-nav.initial-state
          hr
          ul
            li: a(href="#aboutUs") About Us
            li: a(href="#ourProducts") Our Products
            li: a(href="#contactUs") Contact Us
  .down-arrow
    a(href="#aboutUs"): span
      
  hr.header-hr
