<div class="row" id="clothesUnit">
  <h2 class="text-center">Clothes</h2>
  <div class="orbit" role="region" aria-label="Clothes Unit Pictures" data-orbit>
    <ul class="orbit-container">
      <!-- Buttons Left Right -->
      <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
      <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
      <!-- All Slides -->
      <li class="orbit-slide is-active">
        <img src="http://lorempixel.com/1200/480/cats/1" alt="cat" class="orbit-image">
        <figcaption class="orbit-caption">First cute cat..</figcaption>
      </li>
      <li class="orbit-slide">
        <img src="http://lorempixel.com/1200/480/cats/2" alt="cat" class="orbit-image">
        <figcaption class="orbit-caption">Second cute cat..</figcaption>
      </li>
      <li class="orbit-slide">
        <img src="http://lorempixel.com/1200/480/cats/3" alt="cat" class="orbit-image">
        <figcaption class="orbit-caption">Third cute cat..</figcaption>
      </li>
    </ul>
    <!-- All Bullets Buttons -->
    <nav class="orbit-bullets">
      <button data-slide="0" class="is-active"><span class="show-for-sr">First slide details.</span></button>
      <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
      <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
    </nav>
  </div>
</div>
