html, body {
  font-family: $primary-font;
  color: $primary-font-color;
}

#entrec-header {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: #fff;

  // ----------CENTERING HEADER-----------
  // position: relative;
  .header-wrapper {
    // position: absolute;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%,-50%);
  }
  // -------------------------------------

  .header-wrapper-left {
    height: 100vh;
    background-color: red;
    display: inline-block;
    vertical-align: middle;

    .entrec-logo {
      background: {
        image: url("/assets/img/entrec-logo.png");
        repeat: no-repeat;
        position: center;
        size: contain;
        color: pink;
      }
      width: 220px;
      height: 295px;
      display: inline-block;
    }
  }

  .header-wrapper-right {
    height: 100vh;
    background-color: red;
    display: inline-block;
    vertical-align: middle;

    .header-description, .social-medias {
      float: left;
    }

    .header-description {
      font-family: $primary-font;
      background-color: lightblue;
      font-size: 1rem;
      margin-bottom: -20px;
      p {
        flex-direction: column;
        display: flex;
        span {
          &:nth-child(2) {text-indent: 40px;}
          &:nth-child(3) {text-indent: 90px;}
        }
      }
    }

    .header-title {
      background-color: lightgreen;
      clear: both;
      h1, h2 {
        font-family: $secondary-font;
        font-weight: bold;
        font-size: 10rem;
        line-height: 0.8;
        text-align: left;
        margin-left: 40px;
      }
      h2 {
        font-size: 3rem;
        margin-bottom: 0;
        margin-left: 130px;
      }
    }

    .header-navigation {
      ul {
        text-align: left;
        background-color: orchid;
        padding: 10px 0;
        margin: 0;
        li {
          display: inline-block;
          list-style-type: none;
          background-color: violet;
          margin-right: 20px;
          padding: 10px;
          border: 2px solid red;
          border-radius: 10px;
          &:last-child {margin-right: 0;}
          a {color: $primary-font-color;}
        }
      }
    }

  }
}







#vertical-align-methods {
  .title {
    h3 {
      text-align: center;
      color: #fff;
      background-color: #333;
    }
  }
  .example {
    .container {
      width: 100%;
      height: 90vh;
      border: 2px solid #333;
      border-radius: 10px;
      padding: 10px;
      margin-bottom: 20px;
    }
    .box {
      width: 40%;
      height: 20%;
      background: {
        image: url("http://lorempixel.com/400/200/cats");
        size: cover;
        repeat: no-repeat;
        position: center center;
      }
      padding: 5px;
      border-radius: 10px;
      box-shadow: 1px 3px 5px 1px #555;
    }
  }


  .pseudo-element {
    .container {
      &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
      }
      .box {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .line-height {
    .container {
      height: 200px;
      line-height: 200px;
      .box {
        line-height: normal;
      }
    }
  }

  .multiline-text {
    .container {
      height: 300px;
      line-height: 300px;
      .box {
        // height: 100px;
        line-height: 1.2;
        vertical-align: middle;
      }
    }
  }
}
