#entrec-header {
  background-color: #fff;
  .header-wrapper-left {
    font-size: 2rem;
    @include mediaMediumWidth(1.5rem);
    @include mediaSmallWidth(1rem);
    .entrec-logo {
      @include hideText;
      @include logoBg("../../assets/img/entrec-logo.png");
      height: 12em;
      width: 10em;
    }
    margin-bottom: 30px;
  }
  .header-wrapper-right {
    font-size: 1rem;
    @include mediaMediumWidth(0.9rem);
    @include mediaSmallWidth(0.8rem);
    .header-description {
      p {
        span:nth-child(2) {text-indent: 2em;}
        span:last-child {text-indent: 4em;}
      }
    }
    .social-medias {
      ul li {
        margin-right: 0.6em;
        transition: all 125ms ease-in-out;
        &:last-child {margin-right: 0;}
        a {
          display: block;
          height: 30px;
          width: 30px;
          @include hideText;
        }
        &.fb a {@include logoBg("../../assets/img/fb-logo.svg");}
        &.tt a {@include logoBg("../../assets/img/tt-logo.svg");}
        &.ig a {@include logoBg("../../assets/img/ig-logo.svg");}
        &:hover {transform: scale(1.3);}
      }
    }
    .header-title {
      font-size: 1rem;
      @include mediaMediumWidth(0.8rem);
      @include mediaSmallWidth(0.6rem);
      display: flex;
      flex-direction: column;
      margin-top: -20px;
      h1, h2 {
        font-family: $secondary-font-family;
        font-weight: bold;
        font-size: 14em;
        line-height: 0.8;
        text-align: center;
      }
      h2 {
        font-size: 3.5em;
      }
    }
    .header-navigation#site-nav {
      &.initial-state {
        ul {
          margin: 0;
          margin-top: 10px;
          margin-left: -25px;
          font-size: 1.2em;
          @media all and (max-width: $small-breakpoint-width)
            {margin: 0; text-align: center;}
          li {
            background-color: #fff;
            margin-right: 15px;
            border: 2px solid #999;
            border-radius: 5px;
            transition: all 150ms ease-in-out;
            a {
              padding: 5px 10px;
              display: block;
              width: 100%;
            }
            &:hover a {color: $link-color-hover;}
            &:first-child {
              border-color: #7f8585;
              &:hover {
                background-color: #95a5a6;
              }
            }
            &:nth-child(2) {
              border-color: #2980b9;
              &:hover {
                background-color: #3598db;
              }
            }
            &:last-child {
              border-color: #27ae60;
              margin-right: 0;
              &:hover {
                background-color: #40d47e;
              }
            }
            a {color: $link-color-unhover;}
            @media all and (max-width: $small-breakpoint-width)
              {margin: 10px 0 0 0;}
          }
        }
        hr {display: none;}
      }
    }
    .header-navigation#site-nav {
      &.active-state {
        position: fixed;
        text-align: center;
        top: 5px;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 20;
        background-color: rgba(0, 0, 0, 0.7);
        transition: all 350ms ease-in-out;
        ul {
          margin: 0;
          li {
            // margin: 0;
            // border: 0;
            &:hover a {color: $link-color-hover;}
            a {
              color: #ccc;
              padding: 10px 10px;
              display: block;
              width: 100%;
              &:active {color: #fff;}
              &.active {color: #fff;}
            }
          }
        }
        hr {
          display: block;
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          width: 1200px;
          min-width: 100%;
          height: 5px;
          z-index: 20;
          margin: 0 auto;
          border-bottom: 0;
          background-color: rgba(194, 50, 249, 0.8);
        }
      }
    }
  }

  .down-arrow {
    width: 40px;
    height: 50px;
    margin: 10px auto 15px auto;
    a {
      animation: arrowMoves 1s infinite;
      height: 50px;
      display: block;
      background-color: transparent;
      &:hover span:before,
      &:hover span:after {
        background-color: #9401cc;
      }
    }
    span,
    span:before,
    span:after {
      content: "";
      background-color: #c232f9;
      height: 2px;
      display: block;
      width: 100%;
      position: relative;
      transition: all 125ms ease-in-out;
    }
    span {background-color: transparent;}
    span:before {
      top: 15px;
      transform: translateX(-16.8px) rotate(30deg);
    }
    span:after {
      top: 13px;
      transform: translateX(16.8px) rotate(-30deg);
    }
    @keyframes arrowMoves {
      50% {transform: translateY(20px);}
    }
  }

  hr.header-hr {
    height: 5px;
    background-color: rgb(194, 50, 249);
    margin: 0;
    border-bottom: 0;
  }
}
